*{
    margin: 0;
}
.main{
    height: 100vh;
    max-width: 100vw;
    background-color: rgb(250, 234, 237);
    display: flex;
    align-items: center;
    justify-content: center;
}
.page{
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 30px;
    display: flex;
 
}
.page1{
    height: 100%;
    width: 50%;
    background-color: hwb(120 14% 49% / 0.763);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 25px 1px rgb(110, 109, 109);
    margin-bottom: 30px;
}
.page2{
    height: 100%;
    width: 50%;
    background-color: rgba(210, 168, 113, 0.96);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 130px;
    display: flex;
    flex-direction: column;
    align-items: end;
    box-shadow: 2px 0px 25px 1px rgb(110, 109, 109);
}
#pic1 img{
    height: 530px;
    position: fixed;
    left: 530px;
    top: 138px;
}
.ab{
    color: white !important;
}
.a{
    margin-left: 0px;
    margin-top: 20px;
}
.a svg{
    margin-top: 11px;
    margin-right: 10px;
    margin-left: 40px;
}
.cd{
    color: white;
    margin-top: 20px;
}
.page2 svg{
    margin-top: 37px;
     margin-right: 50px;
}
#mh{
    color: white;
    position: relative;
    left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.line2{
    height: 1px;
    width: 1100px;
    background-color: white;
    position: relative;
    right: 50px;
    bottom: 2px;
}
.p1a{
    margin-top: 80px;
    margin-left: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p1a h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.p1a button{
    height: 50px;
    width: 150px;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(63, 59, 59);
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    bottom: 77px;
    right: 6px;
}
.bu1{
    height: 50px;
    width: 150px;
    border: 3px solid white;
    border-radius: 5px;
}
#loc{
    position: relative;
    bottom: 40px;
}
#nu{
    margin-left: 45px;
    position: relative;
    bottom: 20px;
}
.p1a svg{
    margin-right: 15px;
    margin-top: 20px;
}
.side{
    position: fixed;
    left: 550px;
    top: 495px;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    font-size: 10px;
    text-align: center;
}
#po{
    color: rgb(80, 79, 79);
}
.picb{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 40px;
    color: white;
    gap: 10px;
}
#next{
    height: 30px;
    position: relative;
    right: 60px;
    top: 20px;
}
#subc{
    color: white;
    font-size: 15px;
}
#girl{
    margin-top: 20px;
}
#nu2{
    position: relative;
    font-size: 30px;
    top: 30px;
    right: 10px;
}
#nu3{
    font-size: 10px;
}
#sub2{
    margin-right: 50px;
}
.last{
    margin-top: 30px;
}
.last img{
    height: 20px;
    
}